
<script src="~/scripts/Home/jquery.twbsPagination.js"></script>


<!---hotel combo tpl-->
<script id="article-main-tpl" type="text/x-jquery-tmpl">
    <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <a class="title-link" itemprop="url" title="${Title}" href="/Home/Detail/${Id}/">
                        ${Title}
                    </a>
                </h3>
            </div>
            <div class="col-md-4 ">
                <a href="/Home/Detail/${Id}/">
                    <img src="${Cover}" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                </a>
            </div>
            <div class="col-md-8">
                <!--                   <hr>-->
                <div class="post-content" itemprop="articleBody">
                    ${Summary}
                </div>
            </div>
            <div class="col-md-12 post-meta">
                <ul class="">
                    <li>时间： <time datetime="${Helpers.JsonDateFormat(CreateTime)}" itemprop="datePublished">${Helpers.JsonDateFormat(CreateTime)}</time></li>
                    <li itemprop="author" itemscope="" itemtype="#">作者： <a itemprop="name" href="#" rel="author">${Author}</a></li>
                    <li>分类： <a href="#">${ArticleTypeName}</a></li>
                    <li itemprop="interactionCount"><a itemprop="discussionUrl" href="#" title="浏览"><i class="icon-eye-open"></i>:${ ScanNum } </a></li>
                    <li itemprop="interactionCount"><a itemprop="discussionUrl" href="#" title="赞"><i class="icon-thumbs-up"></i>:${ LikeNum }</a></li>
                    <li itemprop="interactionCount"><a itemprop="discussionUrl" href="#" title="评论"><i class="icon-comment"></i>:${ CommentNum }</a></li>
                    <li class="float-right">
                        <a href="/Home/Detail/${Id}/" class="float-right">阅读全文</a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</script>

<div class="row">
    <div class="col-md-8 col-xs-12 " id="main" role="main">

        <div id="list_articles">

        </div>

        <nav aria-label="Page navigation ">
            @*<ul class="pagination"><li class="active"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/page/1/">1</a></li><li><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/page/2/">2</a></li><li class="next"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/page/2/">»</a></li></ul>*@
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div><!-- end #main-->
</div>

<script src="~/scripts/Category/Detail.js"></script>