

<div class="row">


    <div class="col-md-8" id="post-item" role="main">
        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name headline"><a itemprop="url" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/">基于Bootstrap4的 响应式 typecho 博客主题</a></h1>
            <ul class="post-meta">
                <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者: <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                <li>时间: <time datetime="2018-07-15T21:33:00+08:00" itemprop="datePublished">2018-07-15</time></li>
                <li>分类: <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
            </ul>
            <div class="post-content markdown-body" itemprop="articleBody">
                @*<p>github 地址：</p><ul><li><a href="https://github.com/postbird/typecho-blog-theme-two-siderbar">基于 bootstrap 4 开发的 typecho 响应式两栏博客主题</a></li></ul><h2>一、主题说明</h2><h3>1、依赖</h3><ul><li><code>jquery 2.1.4</code></li><li><code>bootstrap 4</code></li><li><code>markdown.css</code>  ， 优化 markdown 内容显示，代码整合进了 <code>style.css</code></li><li><code>normalize.css</code>, 代码整合进了 <code>style.css</code></li><li><code>prism.js</code> 和 <code>prism.css</code>，优化代码高亮显示</li><li><code>popper.min.js</code>，bootstrap 4 依赖</li><li><code>jquery.goup.min.js</code>，返回顶部插件</li></ul><h2>二、主题安装</h2><blockquote><p>主题安装方式与 其他 <code>typecho</code> 主题一样。</p></blockquote><h3>1、下载主题</h3><p>下载主题文件：<a href="https://github.com/postbird/typecho-bootstrap-blog">https://github.com/postbird/typecho-bootstrap-blog</a></p><p>加压后上传到服务器 <code>typecho</code> 目录下 <code>/usr/themes/</code> 文件夹。</p><h3>2、后台安装</h3><p>登入 <code>typecho</code> 后台管理，选择 <code>控制台 -&gt; 外观 </code>，启动 <code>Postbird-typecho-two-sidebar-block</code> 主题即可。</p><h3>3、添加单独页面</h3><h4>1）导航显示 <code>文章分类</code> 页面</h4><p>创建独立页面，页面模板选择 <code>文章分类</code>，页面标题是导航中显示的文字</p><h4>2）导航显示 <code>归档</code></h4><p>创建独立页面，页面模板选择 <code>文章归档</code>，页面标题是导航中要显示的文字</p><h4>3）导航显示 <code>标签</code></h4><p>创建独立页面，页面模板选择 <code>标签模板</code>，页面标题是导航中要显示的文字</p><h4>4）导航显示 <code>友链</code></h4><p>创建独立页面，页面模板选择 <code>友情链接模板</code>，页面标题是导航中要显示的问题   </p><p><code>友链</code> 不同于上面三个独立页面，页面内容需要自己编辑，并最终显示，方便添加其他网站的链接。</p><p>如下图所示：</p><p><img src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/3593023988.jpg" alt="demo-links.jpg" title="demo-links.jpg"></p><h4>5）导航显示 <code>关于</code></h4><p><code>关于</code> 是选择默认模板，系统默认存在的页面。</p><h4>6）其他单独页面</h4><p>其他的单独页面会直接在导航中显示，添加单独页面的时候，直接选择默认模板即可。</p><h2>四、文件结构</h2><p><img src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/3430388827.jpg" alt="stucture.jpg" title="stucture.jpg"></p><blockquote><p><code>img/examples</code> 下的图片均为效果图片，无实际作用。</p></blockquote><h2>五、效果</h2><p>更多效果图可以在 github 查看：</p><ul><li><a href="https://github.com/postbird/typecho-blog-theme-two-siderbar#%E4%BA%94%E6%95%88%E6%9E%9C">https://github.com/postbird/typecho-blog-theme-two-siderbar#%E4%BA%94%E6%95%88%E6%9E%9C</a></li></ul><h3>1、PC端：</h3><p><img src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/3403335561.jpg" alt="./img/examples/demo.jpg" title="./img/examples/demo.jpg"></p><h3>2、移动端：</h3><p><img src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/572993583.jpg" alt="1.jpg" title="1.jpg"></p><h2>License</h2><p>MIT</p>*@
                <p><h1>小团队,也要有大格局</h1></p>

                <p><img src="http://ou71ojlz3.bkt.clouddn.com/%E5%8C%A01.png"></p>

                <p><strong>@@智客幸达</strong></p>

                <p><hr /></p>

                <p><h2>目录</h2></p>

                <p>
                    <ul>
                        <li>职场中的几类人</li>
                        <li>突围</li>
                        <li>总结</li>
                    </ul>
                    <hr />
                </p>

                <blockquote>
                    <p>&#160; &#160;&#160;&#160;每年都会有大批的新人从高校毕业,进入职场,开启他(她)们的职业生涯。掐指一算,我已混迹职场七年有余。“铁打的营盘，流水的兵”,职来职往,我见过不少新面孔的到来,然后也有不断离去,进入其他职场的身影。或许,这就是生活,而这一幅幅画面,连在起来正好解释了什么是"奔波"。</p>

                    <p>&#160; &#160;&#160;&#160;我也是职场众多身影中的一员,多年的积淀和成长,我也开始承担带领团队的工作(当然,技术团队是没有纯管理的)。把一伙人,集合在一起干好事情,有时候不是一件容易的事情。带领几个人的小团队,不见得比带领上百人的团队更容易。这几年,笔者共事过的同事不下百人,大多都是年轻人。而其中,总会有几类职场人让人印象深刻...或许你身边就有这样的人。</p>
                </blockquote>

                <p>
                    <center><strong>职场中的几类人</strong></center>
                </p>

                <blockquote>
                    <p>
                        职场中有一类人...
                        "我尽管学,按时完成任务算我输。"
                    </p>
                </blockquote>

                <p>&#160; &#160;&#160;&#160;A君,男,92年,是我招聘的第一个开发童鞋。那年,因为项目组急需招人,加上年底招人困难,部门领导建议我招一个人来培养,也是基于成本的考虑。于是我们招了一名愿意从前端转后端的童鞋。我选择了A君，理由是A君做过一年半前端,也参与过后台部分模块的接触,计算机专业,学历还是211,而最为重要的是——他热爱学习。</p>

                <p>&#160; &#160;&#160;&#160;果然来了之后,每天都很勤奋,来得早,下班也是最后一个走。领导看了非常满意,他认为,照这个学习劲头,不出三月一定能够独立承担任务。</p>

                <p>&#160; &#160;&#160;&#160;第二个月,A君就被借调到其他项目组参与了一个老项目的开发,由于该项目使用的框架是公司自研,A君刚开始不太适应,大家也觉得正常,慢慢适应吧,再说,A君也很努力在学习。一个月后,A君被那个项目组退回来了,理由是:开发进度太慢,别的同事都在等。于是我意识到问题的严重性,特地进行了沟通,发现一个页面整整开发了两周...还有bug,不能上线。</p>

                <p>&#160; &#160;&#160;&#160;回来之后,我开始观察A君的工作和学习情况,发现他每天都在看各种资料,一会儿ORM框架,一会儿nodejs,各种设计模式等等,各种电子书。而分配的任务几乎还没开始。。。这哥们还有一个毛病,甭管谁给发消息,QQ、钉钉、邮件都不理。说好的团队协作呢,说好的培训新人第一课呢？于是,3米的距离,每次交代个事情,我是经常要亲自跑一趟。。。真是心累。</p>

                <blockquote>
                    <p>
                        职场中有一类人...
                        "你尽管安排任务,家里有事,我先走..."
                    </p>
                </blockquote>

                <p>&#160; &#160;&#160;&#160;B君,男,94年,毕业于不知名专科。招聘理由，性格比较随和(大家都懂得,做事相对主动),且4年+工作经验,同样爱学习。相对A君,B君基本能够独挡一面,安排的事情我也放心。</p>

                <p>&#160; &#160;&#160;&#160;鉴于此前的经验,我打算对新人实行入职培训,先说断,后不乱。</p>

                <p>&#160; &#160;&#160;&#160;入职第一周就安排了工作,看得出来B君是有功底的,任务都能完成,沟通起来很轻松,偶尔还会在项目中使用一点设计模式。而且还主动汇报工作,基本能够融入部门的工作。</p>

                <p>&#160; &#160;&#160;&#160;可是,问题还是来了。。。入职的第2个周,B君请假了,不是一天,是三天,理由是:女友身体不适,送她回老家。我想了一下,好吧,理由还过得去。</p>

                <p>&#160; &#160;&#160;&#160;接下来,工作还是干的不错,我也就没说什么了。偶尔还能够帮助解决点线上bug什么的。。。可是问题又来了,第二个月的第一周,请假三天，理由是家里亲戚遇到电信诈骗了。。。这次还是先斩后奏,这个消失玩的真是猝不及防,安排的工作怎么办...需求方可是等发版呢。。。</p>

                <blockquote>
                    <p>
                        职场中有还有一类人...
                        "我只做和工资匹配的工作..."
                    </p>
                </blockquote>

                <p>&#160; &#160;&#160;&#160;C君,九零后,每天上下班时间固定,从未加班。在一个互联网产品公司,一个提供软件服务为主要业务的公司,适度的加班是不可避免的。一款好的软件或者作品是需要时间打磨的,不信,大家可以晚上九点去看看BAT的办公楼,一定是灯火通明的。</p>

                <p>&#160; &#160;&#160;&#160;而C君是坚持做好自己8小时内的事情,“有事打电话，我先下班了.”,“额,我现在不在办公室,你这个问题我只有明天来看...”。作为团队的管理者,我不会提倡加班，但是前提必须是事情做得很漂亮。然而,每当强调工作质量和偶尔加班时,总会有这样的声音,"如果有BAT的工资,我们也愿意996啊",“事情做得差不多就行了...”。笔者所在的公司规模算中等吧,尚且如此。所以,大家可以想象在国内更多的小公司的生存环境...</p>

                <p>　<center> <strong>2 突围</strong></center> </p>

                <p>&#160; &#160;&#160;&#160;Supercell这家公司我想大家应该有所耳闻,他们强调的是“5-6人组成一个团队，确保创作独立性和员工责任感”。而这种理念是被腾讯，阿里都认可和学习的。我们自己的开发组也就是这个规模。但是,人的责任感和潜力并没有发挥出来。管理上都会强调,下属干不好都是领导的责任，那么领导的责任也真的太大了...</p>

                <p>&#160; &#160;&#160;&#160;当然,如何带领这支普通的团队快速成长呢?如何打造一个supercell一样牛逼的团队呢？我思考和尝试着做一些事情。</p>

                <p>
                    <ol>
                        <li>
                <p>制定项目管理规范 </p></p>

                <p><p>
                    <center>
                        <img src="http://ou71ojlz3.bkt.clouddn.com/%E9%A1%B9%E7%9B%AE%E7%AE%A1%E7%90%86%E6%B5%81%E7%A8%8B.png">
                    </center>
                </p></li>
                <li>
                    <p>
                        制定新人入职谈话和内部分享
                        <img src="http://ou71ojlz3.bkt.clouddn.com/%E6%96%B0%E4%BA%BA%E5%85%A5%E8%81%8C.jpg" alt="制定新人谈话和分享体系" />
                    </p>
                </li>
                <li>
                    <p>
                        以身作则
                        &#160; &#160;&#160;&#160;严格要求自己。时刻记住你是团队核心,你是灵魂人物。让自己的精神和行动去影响身边的人。
                    </p>
                </li>
                </ol>
                &#160; &#160;&#160;&#160;首先,我必须承认我的团队是不完美的,而且每个人都会有很多坏习惯和低效的工作方式。但是,通过不断地整合和磨合,合理地“排兵布阵”或许能够顺利“突围”。</p>

                <p>　<center> <strong>3 总结</strong> </center> </p>

                <p>&#160; &#160;&#160;&#160;小团队也要有大格局。职来职往,相识就是一场缘分。团队要发展,也要考虑每个成员的发展，立足当下,着眼长远。</p>

                <p>&#160; &#160;&#160;&#160;公司和员工最好的状态就是共同成长,实现双赢。</p>

                <p>&#160; &#160;&#160;&#160;编者按:</p>

                <p>
                    <ul>
                        <li>能够让团队成长快,走的更远,是我的夙愿。</li>
                        <li>在职场相遇是缘分，希望能够让自己带的人以后回想起来,我们相处的岁月是有价值、有意义的。</li>
                    </ul>
                    &#160; &#160;&#160;&#160;个人微信公众号:
                    <center>
                        <img src="http://ou71ojlz3.bkt.clouddn.com/%E7%A0%81%E5%86%9C%E5%95%86%E4%B8%9A%E5%8F%82%E8%B0%8B%20%282%29.jpg">
                    </center>
                </p>

            </div>
            <div class="post-keywords">
                <div itemprop="keywords" class="tags">标签： none</div>
            </div>
            <div class="post-well" style="background-color:#f6f6f6;padding:10px;margin-bottom: 10px;white-space: nowrap;">
                <p>文章版权：<a style="color:#15A7F0;" href="http://theme.typecho.ptbird.cn/bootstrap-blog/">BootstrapBlog 主题 - 基于Bootstrap4的响应式typecho博客主题 </a></p>
                <p>本文链接：<a style="color:#15A7F0;" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/">http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/</a></p>
                <p>转载请注明文章原始出处 !</p>
            </div>
        </article>
        <ul class="post-near">
            <li>上一篇: <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/20/" title="[示例文章] egg.js 通过 form 和 ajax 两种方式上传文件并自定义目录和文件名">[示例文章] egg.js 通过 form 和 ajax 两种方式上传文件并自定义目录和文件名</a></li>
            <li>下一篇: <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/26/" title="博客主题开启或关闭某些边栏">博客主题开启或关闭某些边栏</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <div id="comments" class=" comments-wrapper">
                    <p>已有 17 条评论</p>
                    <ol class="comment-list">
                        <li id="li-comment-52" class="comment-body comment-parent comment-odd comment-by-author">
                            <div id="comment-52" class="comment-item">
                                <div class="comment-author">
                                    <img class="avatar" src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/df84adc4bafe5998d5c3da0af4b58818.png" alt="admin" width="40" height="40">                <span class="fn">
                                        <a href="http://www.ptbird.cn/" rel="external nofollow">admin</a>            <span class="author-after-text">[作者]</span>
                                    </span>
                                </div>
                                <div class="comment-meta">
                                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2#comment-52">2018-07-15 21:39</a>
                                </div>
                                <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2?replyTo=52#respond-post-21" rel="nofollow" onclick="return TypechoComment.reply(&#39;comment-52&#39;, 52);">回复</a></span>
                                <div class="comment-content">
                                    <p>对于博客主题的测试回复</p>
                                </div>
                            </div>
                            <div class="comment-children">
                                <ol class="comment-list">
                                    <li id="li-comment-53" class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                        <div id="comment-53" class="comment-item">
                                            <div class="comment-author">
                                                <img class="avatar" src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/df84adc4bafe5998d5c3da0af4b58818.png" alt="admin" width="40" height="40">                <span class="fn">
                                                    <a href="http://www.ptbird.cn/" rel="external nofollow">admin</a>            <span class="author-after-text">[作者]</span>
                                                </span>
                                            </div>
                                            <div class="comment-meta">
                                                <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2#comment-53">2018-07-15 21:39</a>
                                            </div>
                                            <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2?replyTo=53#respond-post-21" rel="nofollow" onclick="return TypechoComment.reply(&#39;comment-53&#39;, 53);">回复</a></span>
                                            <div class="comment-content">
                                                <p>二级回复</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </li>
                    </ol>                <nav aria-label="Page navigation text-center">
                        <ul class="pagination"><li class="prev"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comments">«</a></li><li><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comments">1</a></li><li class="active"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2#comments">2</a></li></ul>
                    </nav>

                    <div id="respond-post-21" class="respond">
                        <div class="cancel-comment-reply">
                            <a id="cancel-comment-reply-link" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/#respond-post-21" rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>
                        </div>
                        <div class="add-comments">
                            <h4 id="response">添加新评论</h4>
                            <form method="post" action="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment" id="comment-form" role="form" class="form">
                                <div class="form-group">
                                    <label for="author" class="required">称呼</label>
                                    <input type="text" name="author" id="author" class="text form-control" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="mail" class="required">Email</label>
                                    <input type="email" name="mail" id="mail" class="text form-control" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="url">网站</label>
                                    <input type="url" name="url" id="url" class="text form-control" placeholder="http://" value="">
                                </div>
                                <p>
                                    <label for="textarea" class="required">内容</label>
                                    <textarea rows="8" cols="50" name="text" id="textarea" class="textarea form-control" required=""></textarea>
                                </p>
                                <p>
                                    <button type="submit" class="submit btn btn-info ">提交评论</button>
                                </p>
                                <input type="hidden" name="_" value="112b73e9df89a58effd7328037b8f865">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end #main-->
    <div class="col-md-4 kit-hidden-tb" id="secondary" role="complementary">

        <!-- 边栏显示最近文章，默认注释掉 -->
        <!-- 边栏显示最近回复，默认开启 -->
        <section class="widget">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><span>最近回复</span></li>
                <li class="list-group-item comment-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comment-77">echo</a>： 为啥我的页面代码没有高亮显示，我是0.9版的，php5.3</li>
                <li class="list-group-item comment-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comment-76">test</a>： 111</li>
                <li class="list-group-item comment-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comment-75">test</a>： test</li>
            </ul>
        </section>

        <!-- 边栏显示文章分类 默认开启-->
        <!-- 边栏显示归档，默认注释掉 -->
        <!--    边栏显示其他操作，默认开启-->
        <section class="widget">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><span>其他</span></li>
                <li class="list-group-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/admin/login.php">登录</a></li>
                <li class="list-group-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/">文章 RSS</a></li>
                <li class="list-group-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/comments/">评论 RSS</a></li>
            </ul>
        </section>

        <!-- 边栏显示友情链接，默认注释掉 -->
        <!--    <section class="widget">-->
        <!--        <ul class="list-group">-->
        <!--            <li class="list-group-item list-group-item-info"><span>--><!--</span></li>-->
        <!--            <li class="list-group-item"><a target="_blank" href="" title="">友情链接名称</a></li>-->
        <!--        </ul>-->
        <!--    </section>-->
    </div><!-- end #sidebar -->
    <a class="to-top" style="z-index: 1200; cursor: pointer; display: none; position: fixed; right: 15px; bottom: 30px;">
        <img src="~/assets/img/top.svg" alt="返回顶部" title="返回顶部">
    </a>


    <!-- 用户自定义脚本内容 -->
</div>