
<div class="row">
    <div class="col-md-8 col-xs-12 " id="main" role="main">
        <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-md-12">
                    <h3><a class="title-link" itemprop="url" title="基于Bootstrap4的 响应式 typecho 博客主题" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/"><span style="color:red">[置顶] </span>基于Bootstrap4的 响应式 typecho 博客主题</a></h3>
                </div>
                <div class="col-md-4 ">
                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/">
                        <img src="./BootstrapBlog 主题_files/3593023988.jpg" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <!--<hr>-->
                    <div class="post-content" itemprop="articleBody">
                        github 地址：基于 bootstrap 4 开发的 typecho 响应式两栏博客主题一、主题说明1、依赖jquery 2.1.4bootstrap 4markdown.css  ， 优化...
                    </div>
                </div>
                <div class="col-md-12 post-meta">
                    <ul class="">
                        <li>时间： <time datetime="2018-07-15T21:33:00+08:00" itemprop="datePublished">2018-07-15</time></li>
                        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者： <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                        <li>分类： <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
                        <li itemprop="interactionCount"><a itemprop="discussionUrl" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/#comments">17 条评论</a></li>
                        <li class="float-right">
                            <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/" class="float-right">阅读全文</a>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
        <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-md-12">
                    <h3><a class="title-link" itemprop="url" title="[更新] 修复 archive.php 页面分页问题" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/42/">[更新] 修复 archive.php 页面分页问题</a></h3>
                </div>
                <div class="col-md-4 ">
                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/42/">
                        <img src="./BootstrapBlog 主题_files/1982966592.jpg" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <!--<hr>-->
                    <div class="post-content" itemprop="articleBody">
                        github：基于 bootstrap 4 开发的 typecho 响应式两栏博客主题更新时间2018-07-19更新内容：修复 archive.php 模板页面的分页显示问题。涉及的博客页面包...
                    </div>
                </div>
                <div class="col-md-12 post-meta">
                    <ul class="">
                        <li>时间： <time datetime="2018-07-19T00:36:00+08:00" itemprop="datePublished">2018-07-19</time></li>
                        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者： <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                        <li>分类： <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
                        <li itemprop="interactionCount"><a itemprop="discussionUrl" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/42/#comments">0 条评论</a></li>
                        <li class="float-right">
                            <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/42/" class="float-right">阅读全文</a>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
        <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-md-12">
                    <h3><a class="title-link" itemprop="url" title="[更新] 修复 post 页面版权显示问题" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/38/">[更新] 修复 post 页面版权显示问题</a></h3>
                </div>
                <div class="col-md-4 ">
                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/38/">
                        <img src="./BootstrapBlog 主题_files/4173586961.jpg" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <!--<hr>-->
                    <div class="post-content" itemprop="articleBody">
                        github：基于 bootstrap 4 开发的 typecho 响应式两栏博客主题更新时间2018-07-19更新内容：修复原来文章页面 post.php 下 版权显示问题。之前由于失误，将...
                    </div>
                </div>
                <div class="col-md-12 post-meta">
                    <ul class="">
                        <li>时间： <time datetime="2018-07-19T00:31:00+08:00" itemprop="datePublished">2018-07-19</time></li>
                        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者： <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                        <li>分类： <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
                        <li itemprop="interactionCount"><a itemprop="discussionUrl" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/38/#comments">0 条评论</a></li>
                        <li class="float-right">
                            <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/38/" class="float-right">阅读全文</a>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
        <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-md-12">
                    <h3><a class="title-link" itemprop="url" title="[更新] 增加后台控制是否启用公共 CDN 链接" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/36/">[更新] 增加后台控制是否启用公共 CDN 链接</a></h3>
                </div>
                <div class="col-md-4 ">
                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/36/">
                        <img src="./BootstrapBlog 主题_files/1846441881.jpg" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <!--<hr>-->
                    <div class="post-content" itemprop="articleBody">
                        github：基于 bootstrap 4 开发的 typecho 响应式两栏博客主题更新时间2018-07-16更新内容：用户可以在 控制台 -&gt; 外观 -&gt; 设置外观 设置是否开...
                    </div>
                </div>
                <div class="col-md-12 post-meta">
                    <ul class="">
                        <li>时间： <time datetime="2018-07-16T23:43:00+08:00" itemprop="datePublished">2018-07-16</time></li>
                        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者： <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                        <li>分类： <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
                        <li itemprop="interactionCount"><a itemprop="discussionUrl" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/36/#comments">0 条评论</a></li>
                        <li class="float-right">
                            <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/36/" class="float-right">阅读全文</a>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
        <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-md-12">
                    <h3><a class="title-link" itemprop="url" title="[更新] 增加用户自定义备案号、样式和脚本功能" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/34/">[更新] 增加用户自定义备案号、样式和脚本功能</a></h3>
                </div>
                <div class="col-md-4 ">
                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/34/">
                        <img src="./BootstrapBlog 主题_files/4038731483.jpg" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <!--<hr>-->
                    <div class="post-content" itemprop="articleBody">
                        github：基于 bootstrap 4 开发的 typecho 响应式两栏博客主题更新时间：2018-07-16更新内容：用户可以在后台管理中新增备案号、添加自定义样式、添加自定义脚本等内容...
                    </div>
                </div>
                <div class="col-md-12 post-meta">
                    <ul class="">
                        <li>时间： <time datetime="2018-07-16T23:39:00+08:00" itemprop="datePublished">2018-07-16</time></li>
                        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者： <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                        <li>分类： <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
                        <li itemprop="interactionCount"><a itemprop="discussionUrl" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/34/#comments">0 条评论</a></li>
                        <li class="float-right">
                            <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/34/" class="float-right">阅读全文</a>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
        <article class="post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-md-12">
                    <h3><a class="title-link" itemprop="url" title="[更新] 修复分页 ... 省略号显示问题" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/31/">[更新] 修复分页 ... 省略号显示问题</a></h3>
                </div>
                <div class="col-md-4 ">
                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/31/">
                        <img src="./BootstrapBlog 主题_files/3585149245.jpg" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <!--<hr>-->
                    <div class="post-content" itemprop="articleBody">
                        github：基于 bootstrap 4 开发的 typecho 响应式两栏博客主题问题由于 textTag 设置成了 span，导致分页显示错误。涉及的文件：comments.phpinde...
                    </div>
                </div>
                <div class="col-md-12 post-meta">
                    <ul class="">
                        <li>时间： <time datetime="2018-07-15T23:18:00+08:00" itemprop="datePublished">2018-07-15</time></li>
                        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者： <a itemprop="name" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/author/1/" rel="author">admin</a></li>
                        <li>分类： <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/category/php/">PHP</a></li>
                        <li itemprop="interactionCount"><a itemprop="discussionUrl" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/31/#comments">1 条评论</a></li>
                        <li class="float-right">
                            <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/31/" class="float-right">阅读全文</a>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
        <nav aria-label="Page navigation ">
            <ul class="pagination"><li class="active"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/page/1/">1</a></li><li><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/page/2/">2</a></li><li class="next"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/page/2/">»</a></li></ul>
        </nav>
    </div><!-- end #main-->
    <div class="col-md-4 kit-hidden-tb" id="secondary" role="complementary">

        <!-- 边栏显示最近文章，默认注释掉 -->
        <!-- 边栏显示最近回复，默认开启 -->
        <section class="widget">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><span>最近回复</span></li>
                <li class="list-group-item comment-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comment-77">echo</a>： 为啥我的页面代码没有高亮显示，我是0.9版的，php5.3</li>
                <li class="list-group-item comment-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comment-76">test</a>： 111</li>
                <li class="list-group-item comment-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comment-75">test</a>： test</li>
            </ul>
        </section>

        <!-- 边栏显示文章分类 默认开启-->
        <!-- 边栏显示归档，默认注释掉 -->
        <!--    边栏显示其他操作，默认开启-->
        <section class="widget">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><span>其他</span></li>
                <li class="list-group-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/admin/login.php">登录</a></li>
                <li class="list-group-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/">文章 RSS</a></li>
                <li class="list-group-item"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/comments/">评论 RSS</a></li>
            </ul>
        </section>

    </div><!-- end #sidebar -->
    <a class="to-top" style="z-index: 1200; cursor: pointer; position: fixed; right: 15px; bottom: 30px; display: none;">
        <img src="~/assets/img/top.svg" alt="返回顶部" title="返回顶部">
    </a>

    <!-- 用户自定义脚本内容 -->
</div>