<div class="row">
    <div class="col-12" id="main" role="main">
        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="page-header">
                <div class="post-header">
                    <h2 class="page-title text-center">投稿</h2>
                    <hr>
                </div>
            </div>
            <div class="page-content markdown-body" itemprop="articleBody" style="">
                @*<h1>智客坊</h1><blockquote><p>致力于为广大IT、互联网从业者提供行业经验、技术知识服务。</p></blockquote>*@
                <h1><a id="_0"></a>智客坊素材投稿规则</h1>
                <p><strong>©智客坊</strong></p>
                <p><img src="http://pepper.img.zhikestreet.com/%E6%8A%95%E7%A8%BF%E6%8C%87%E5%8D%97.png" alt="使用场景"></p>
                <p>     <strong>智客坊</strong>,致力于为受众持续提供高质量内容。为此,需要扩大内容来源和渠道。</p>
                <p>     投稿规则如下:</p>
                <ul>
                    <li>
                        <p>主题范围:</p>
                        <ul>
                            <li>互联网技术、职场、团队管理相关</li>
                        </ul>
                    </li>
                    <li>
                        <p>素材形式:</p>
                        <ul>
                            <li>原创音频、视频、图片和文章</li>
                            <li>音频视频均不能超过20M</li>
                        </ul>
                    </li>
                    <li>
                        <p>素材内容规范:</p>
                        <ul>
                            <li>图片无水印,无违反国家法律内容</li>
                            <li>音、视频原创,音质清晰,无违反国家法律内容</li>
                            <li>文章,思路清晰,无违反国家法律内容</li>
                        </ul>
                    </li>
                    <li>
                        <p>素材等级和付费规则</p>
                        <ul>
                            <li>通过审核的原创素材,为<strong>青铜</strong>等级,价格为1.00元。</li>
                            <li>三日之内,阅读量&gt;=1000,为<strong>白银</strong>等级,价格为2.00元</li>
                            <li>三日之内,阅读量&gt;=10000,为<strong>黄金</strong>等级,价格为4.00元</li>
                            <li>三日之内,阅读量&gt;=100000,为<strong>王者</strong>等级,价格为10.00元</li>
                        </ul>
                    </li>
                    <li>
                        <p>投稿入口</p>
                        <ul>
                            <li>邮箱:576810529@qq.com</li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <h2><a id="_34"></a>说明</h2>
                <p>     以上规则为试行。投稿审核通过之后,三日可付现。最终解释权归<strong>智客坊</strong>。</p>

            </div>
        </article>
        @*<div class="row">
            <div class="col-md-12">
                <div id="comments" class="" comments-wrapper">
                    <p>已有 3 条评论</p>
                    <ol class="comment-list">
                        <li id="li-comment-80" class="comment-body comment-parent comment-odd">
                            <div id="comment-80" class="comment-item">
                                <div class="comment-author">
                                    <img class="avatar" src="http://www.gravatar.com/avatar/10828412a1b70926cf0bb49dd0998dd4?s=40&amp;r=G&amp;d=" alt="3333" width="40" height="40">                <span class="fn">
                                        3333
                                    </span>
                                </div>
                                <div class="comment-meta">
                                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1#comment-80">2018-11-12 14:13</a>
                                </div>
                                <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1?replyTo=80#respond-page-2" rel="nofollow" onclick="return TypechoComment.reply('comment-80', 80);">回复</a></span>
                                <div class="comment-content">
                                    <p>1111</p>
                                </div>
                            </div>
                            <div class="comment-children">
                                <ol class="comment-list">
                                    <li id="li-comment-81" class="comment-body comment-child comment-level-odd comment-odd">
                                        <div id="comment-81" class="comment-item">
                                            <div class="comment-author">
                                                <img class="avatar" src="http://www.gravatar.com/avatar/10828412a1b70926cf0bb49dd0998dd4?s=40&amp;r=G&amp;d=" alt="3333" width="40" height="40">                <span class="fn">
                                                    3333
                                                </span>
                                            </div>
                                            <div class="comment-meta">
                                                <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1#comment-81">2018-11-12 14:13</a>
                                            </div>
                                            <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1?replyTo=81#respond-page-2" rel="nofollow" onclick="return TypechoComment.reply('comment-81', 81);">回复</a></span>
                                            <div class="comment-content">
                                                <p>222</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </li>
                        <li id="li-comment-79" class="comment-body comment-parent comment-even">
                            <div id="comment-79" class="comment-item">
                                <div class="comment-author">
                                    <img class="avatar" src="http://www.gravatar.com/avatar/287349cf05f185c114ab2c5f21c5dc77?s=40&amp;r=G&amp;d=" alt="213" width="40" height="40">                <span class="fn">
                                        213
                                    </span>
                                </div>
                                <div class="comment-meta">
                                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1#comment-79">2018-11-09 13:47</a>
                                </div>
                                <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1?replyTo=79#respond-page-2" rel="nofollow" onclick="return TypechoComment.reply('comment-79', 79);">回复</a></span>
                                <div class="comment-content">
                                    <p>321</p>
                                </div>
                            </div>
                        </li>
                    </ol>                <nav aria-label="Page navigation text-center">
                    </nav>

                    <div id="respond-page-2" class="respond">
                        <div class="cancel-comment-reply">
                            <a id="cancel-comment-reply-link" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html#respond-page-2" rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>
                        </div>
                        <div class="add-comments">
                            <h4 id="response">添加新评论</h4>
                            <form method="post" action="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment" id="comment-form" role="form" class="form">
                                <div class="form-group">
                                    <label for="author" class="required">称呼</label>
                                    <input type="text" name="author" id="author" class="text form-control" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="mail" class="required">Email</label>
                                    <input type="email" name="mail" id="mail" class="text form-control" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="url">网站</label>
                                    <input type="url" name="url" id="url" class="text form-control" placeholder="http://" value="">
                                </div>
                                <p>
                                    <label for="textarea" class="required">内容</label>
                                    <textarea rows="8" cols="50" name="text" id="textarea" class="textarea form-control" required=""></textarea>
                                </p>
                                <p>
                                    <button type="submit" class="submit btn btn-info ">提交评论</button>
                                </p>
                                <input type="hidden" name="_" value="5ce0fef478995524068ffa8032fa681b">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>

    <!-- 用户自定义脚本内容 -->

</div>