<div class="row">
    <div class="col-12" id="main" role="main">
        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="page-header">
                <div class="post-header">
                    <h2 class="page-title text-center">投稿</h2>
                    <hr>
                </div>
            </div>
            <div class="page-content markdown-body" itemprop="articleBody" style="">
                @*<h1>智客坊</h1><blockquote><p>致力于为广大IT、互联网从业者提供行业经验、技术知识服务。</p></blockquote>*@
                <h1><a id="_0"></a>智客坊素材投稿规则</h1>
                <p><strong>©智客坊</strong></p>
                <p><img src="http://pepper.img.zhikestreet.com/%E6%8A%95%E7%A8%BF%E6%8C%87%E5%8D%97.png" alt="使用场景"></p>
                <p>     <strong>智客坊</strong>,致力于为受众持续提供高质量内容。为此,需要扩大内容来源和渠道。</p>
                <p>     投稿规则如下:</p>
                <ul>
                    <li>
                        <p>主题范围:</p>
                        <ul>
                            <li>互联网技术、职场、团队管理相关</li>
                        </ul>
                    </li>
                    <li>
                        <p>素材形式:</p>
                        <ul>
                            <li>原创音频、视频、图片和文章</li>
                            <li>音频视频均不能超过20M</li>
                        </ul>
                    </li>
                    <li>
                        <p>素材内容规范:</p>
                        <ul>
                            <li>图片无水印,无违反国家法律内容</li>
                            <li>音、视频原创,音质清晰,无违反国家法律内容</li>
                            <li>文章,思路清晰,无违反国家法律内容</li>
                        </ul>
                    </li>
                    <li>
                        <p>素材等级和付费规则</p>
                        <ul>
                            <li>通过审核的原创素材,为<strong>青铜</strong>等级,价格为1.00元。</li>
                            <li>三日之内,阅读量&gt;=1000,为<strong>白银</strong>等级,价格为2.00元</li>
                            <li>三日之内,阅读量&gt;=10000,为<strong>黄金</strong>等级,价格为4.00元</li>
                            <li>三日之内,阅读量&gt;=100000,为<strong>王者</strong>等级,价格为10.00元</li>
                        </ul>
                    </li>
                    <li>
                        <p>投稿入口</p>
                        <ul>
                            <li>邮箱:576810529@qq.com</li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <h2><a id="_34"></a>说明</h2>
                <p>     以上规则为试行。投稿审核通过之后,三日可付现。最终解释权归<strong>智客坊</strong>。</p>

            </div>
        </article>
       
    </div>

    <!-- 用户自定义脚本内容 -->

</div>