<!--begin #header-->
<!-- Collapsed navigation -->
<div class="navbar-header">
    <!-- Expander button -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/home/index">智客坊</a>
</div>

<!-- Expanded navigation -->
<div class="navbar-collapse collapse">
    <!-- Main navigation -->
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/category/index">分类</a>
        </li>
        <li>
            <a href="/aboutUs/index">关于</a>
        </li>
        <li>
            <a href="/category/index">留言</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                <i class="fa fa-search"></i> 搜索
            </a>
        </li>
        @*<li class="disabled">
            <a rel="next">
                <i class="fa fa-arrow-left"></i> Previous
            </a>
        </li>
        <li>
            <a rel="prev" href="Swagger/">
                Next <i class="fa fa-arrow-right"></i>
            </a>
        </li>*@
    </ul>
</div>

<!-- end #header -->