
<header id="header" class="clearfix">
    <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#454545">
        <div class="container">
            <a id="logo" class="navbar-brand" href="/home/index" title="智客坊">智客坊</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home/index">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/category/index">分类 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs/index" title="关于"><span>关于</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="留言"><span>留言</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contribute/Index" title="投稿"><span>投稿</span></a>
                    </li>
                </ul>
                <div class="navbar-text">
                    <div class="search-form form-inline">
                        <div class="form-group">
                            <input type="search" name="s" class="form-control form-control-sm" id="globalSearch">
                            <button class="btn btn-info btn-sm" id="btnGlobalSearch">搜索</button>
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav mr-auto">

                    @*<li class="nav-item">
                            <a class="nav-link" href="/guest/index" title="控制台"><span>控制台</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="关于"><span>关于</span></a>
                        </li>*@
                    @*@{
                            var currentUser = Session[AccountConst.CurrentAdminUser] as AdminUser;
                            if (currentUser == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/account/login" title="登陆"><span>登陆</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/account/register" title="注册"><span>注册</span></a>
                                </li>
                            }
                            else if (currentUser != null)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       style="height: 60px">
                                        <img alt="" class="topbar-user-avatar" src="@currentUser.Avatar" />
                                        <span style="color: #FFFFFF;font-size: 15px">
                                            <i>@currentUser.NickName</i>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu pull-right"
                                         style="background: #FFFFFF;width: 320px;overflow: hidden">
                                        <div style="margin-top: 16px;border-bottom: 1px solid #eeeeee">
                                            <div style="text-align: center">
                                                <img class="img-circle" src="@currentUser.Avatar"
                                                     style="width: 38px;height: 38px;" />
                                            </div>
                                            <div style="color: #323534;text-align: center;line-height: 36px;font-size: 15px">
                                                <span>@currentUser.NickName</span>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-left: 15px;margin-right: 15px;margin-top: 10px">
                                            <div class="col-md-4 text-center grid">
                                                <i class="fa fa-user" style="font-size: 25px;line-height: 45px;"></i>
                                                <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px">
                                                    个人中心
                                                </p>
                                            </div>
                                            <div class="col-md-4 text-center grid">
                                                <i class="fa fa-gear" style="font-size: 25px;line-height: 45px;"></i>
                                                <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px">
                                                    账号管理
                                                </p>
                                            </div>
                                            <div class="col-md-4 text-center grid">
                                                <i class="fa fa-key" style="font-size: 25px;line-height: 45px;"></i>
                                                <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px">
                                                    密码修改
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-left: 15px;margin-right: 15px;margin-top: 10px">
                                            <div class="col-md-4 text-center grid">
                                                <i class="fa fa-user-circle" style="font-size: 25px;line-height: 45px;"></i>
                                                <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px">
                                                    修改头像
                                                </p>
                                            </div>
                                            <div class="col-md-4 text-center grid">
                                                <i class="fa fa-comments" style="font-size: 25px;line-height: 45px;"></i>
                                                <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px">
                                                    消息
                                                </p>
                                            </div>
                                            <div class="col-md-4 text-center grid">
                                                <i class="fa fa-heart-o" style="font-size: 25px;line-height: 45px;"></i>
                                                <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px">
                                                    帮助中心
                                                </p>
                                            </div>
                                        </div>


                                        <div class="row" style="margin-top: 20px">
                                            <a href="/account/logout" class="text-center" style="padding: 15px;margin: 0px;background: #f6f5f5;color: #323534;">
                                                <i class="icon-signout"></i>
                                                退出
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }*@
                </ul>

            </div>
        </div>
    </nav>
</header><!-- end #header -->