<div class="row">
    <div class="col-12" id="main" role="main">
        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="page-header">
                <div class="post-header">
                    <h2 class="page-title text-center">关于智客坊</h2>
                    <hr>
                </div>
            </div>
            <div class="page-content markdown-body" itemprop="articleBody" style="">

                <p>     为什么叫<strong>智客坊</strong>呢?根据<a href="https://baike.baidu.com/item/%E6%99%BA%E5%AE%A2/561068?fr=aladdin">百度百科</a>,智脑网对智客的定义“智客”一般是对某个（些）问题有资深理解的人，或是某个领域的专业人士。智客，来源于分享知识，分享智慧的涵义，客则是对于参与这项活动的智愿者的尊称。</p>
                <p>     过去二十多年,中国互联网的发展催生了很多互联网产业和公司,同时一大批的程序员诞生。</p>
                <p>     作为众多程序员大军中的一员,我也经历了互联网的几次高峰和低谷。看到了很多公司倒下,又有很多公司崛起,看到了互联网职场中人来人往的频繁更迭。那么,新生代的码农们如何才能更好更快地适应这个行业,如何才能延长自己的职业生涯或者说让自己的职业能够得到升华,我想应该是把<strong>技术和商业结合起来</strong>。</p>
                <p>     本站致力于向广大IT从业人员分享<strong>技术知识,职场经验和商业智慧。</strong>当然，我们最欢迎的是你的加入,欢迎你和我们一起写作。欢迎有兴趣的朋友加入我们一起来分享技术,以及技术和商业结合可能性的idea。文章可以是原创,翻译,只要是和技术和编程相关就可以。<a href="http://www.zhikestreet.com/Contribute/Index">欢迎投稿</a>。</p>
                <hr>
                <div align="center"><img src="http://pepper.img.zhikestreet.com/ZhiKeCode.jpg" /></div>
                <hr>
                <p align="center">     <strong>除非文章内特别说明，你可以转载智客坊的文章,但请加入文章作者和出处。谢谢。</strong></p>
                <hr />
            </div>
        </article>
        @*<div class="row">
                <div class="col-md-12">
                    <div id="comments" class=" comments-wrapper">
                        <p>已有 3 条评论</p>
                        <ol class="comment-list">
                            <li id="li-comment-80" class="comment-body comment-parent comment-odd">
                                <div id="comment-80" class="comment-item">
                                    <div class="comment-author">
                                        <img class="avatar" src="http://www.gravatar.com/avatar/10828412a1b70926cf0bb49dd0998dd4?s=40&amp;r=G&amp;d=" alt="3333" width="40" height="40">                <span class="fn">
                                            3333
                                        </span>
                                    </div>
                                    <div class="comment-meta">
                                        <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1#comment-80">2018-11-12 14:13</a>
                                    </div>
                                    <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1?replyTo=80#respond-page-2" rel="nofollow" onclick="return TypechoComment.reply('comment-80', 80);">回复</a></span>
                                    <div class="comment-content">
                                        <p>1111</p>
                                    </div>
                                </div>
                                <div class="comment-children">
                                    <ol class="comment-list">
                                        <li id="li-comment-81" class="comment-body comment-child comment-level-odd comment-odd">
                                            <div id="comment-81" class="comment-item">
                                                <div class="comment-author">
                                                    <img class="avatar" src="http://www.gravatar.com/avatar/10828412a1b70926cf0bb49dd0998dd4?s=40&amp;r=G&amp;d=" alt="3333" width="40" height="40">                <span class="fn">
                                                        3333
                                                    </span>
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1#comment-81">2018-11-12 14:13</a>
                                                </div>
                                                <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1?replyTo=81#respond-page-2" rel="nofollow" onclick="return TypechoComment.reply('comment-81', 81);">回复</a></span>
                                                <div class="comment-content">
                                                    <p>222</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li id="li-comment-79" class="comment-body comment-parent comment-even">
                                <div id="comment-79" class="comment-item">
                                    <div class="comment-author">
                                        <img class="avatar" src="http://www.gravatar.com/avatar/287349cf05f185c114ab2c5f21c5dc77?s=40&amp;r=G&amp;d=" alt="213" width="40" height="40">                <span class="fn">
                                            213
                                        </span>
                                    </div>
                                    <div class="comment-meta">
                                        <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1#comment-79">2018-11-09 13:47</a>
                                    </div>
                                    <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment-page-1?replyTo=79#respond-page-2" rel="nofollow" onclick="return TypechoComment.reply('comment-79', 79);">回复</a></span>
                                    <div class="comment-content">
                                        <p>321</p>
                                    </div>
                                </div>
                            </li>
                        </ol>                <nav aria-label="Page navigation text-center">
                        </nav>

                        <div id="respond-page-2" class="respond">
                            <div class="cancel-comment-reply">
                                <a id="cancel-comment-reply-link" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html#respond-page-2" rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>
                            </div>
                            <div class="add-comments">
                                <h4 id="response">添加新评论</h4>
                                <form method="post" action="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/start-page.html/comment" id="comment-form" role="form" class="form">
                                    <div class="form-group">
                                        <label for="author" class="required">称呼</label>
                                        <input type="text" name="author" id="author" class="text form-control" value="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="mail" class="required">Email</label>
                                        <input type="email" name="mail" id="mail" class="text form-control" value="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">网站</label>
                                        <input type="url" name="url" id="url" class="text form-control" placeholder="http://" value="">
                                    </div>
                                    <p>
                                        <label for="textarea" class="required">内容</label>
                                        <textarea rows="8" cols="50" name="text" id="textarea" class="textarea form-control" required=""></textarea>
                                    </p>
                                    <p>
                                        <button type="submit" class="submit btn btn-info ">提交评论</button>
                                    </p>
                                    <input type="hidden" name="_" value="5ce0fef478995524068ffa8032fa681b">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>

    <!-- 用户自定义脚本内容 -->

</div>